<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="css/js/app.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
    {{>line}}
    <h1>{{name}} and i {{age}}</h1>
    <form >
        <input id="searchInput" type="text" placeholder="location">
       <button>search</button>
    </form>
 <p id="para">sssss</p>
     {{>footer}}
</body>
</html>